.logo {
    color: green !important;
}

.table-button {
    width: 100%;
    text-decoration: none;
    color: white !important;
}

.form-group {
    margin: 25px auto !important;
}

.navbar-dark .navbar-text a {
    color: black !important;
}

form {
    width: 40% !important;
    display: block;
    margin: auto;
}

button {
    width: 100%;
}