.logo {
    color: green !important;
}

.title {
    text-align: center;
    color: gray;
}

.table-button {
    width: 100%;
    text-decoration: none;
    color: white !important;
}

.form-group {
    margin: 25px auto !important;
}