.logo {
    color: green !important;
}

.title {
    text-align: center;
    color: gray;
}

.table-button {
    width: 100%;
    text-decoration: none;
    color: white !important;
}

.form-group {
    margin: 25px auto !important;
}

.nav-link {
    color: white !important;
}

h4 {
    margin: 25px;
    color: white;
}